@font-face { font-family: "Myriad Pro"; src: url(../fonts/myriadpro.ttf) format("truetype"); }
body { background-image: url('/static/images/background.png'); background-position: right 230px; background-repeat: repeat-x; background-color: #374247; font-family: verdana, sans-serif; color: #FFF; height: 100%; margin: 0; padding: 0; }
a { color: #B0BBC4; text-decoration: underline; }
p { margin: 1em 0; }
.clear { clear: both; }
.uninitialized { color: #999; color: rgba(51, 51, 51, 0.54); }
.hidden { display: none; }
.zcLnk { text-decoration: underline; color: #253d5b; cursor: pointer; }
#mainContainer { width: 950px; margin: 0 auto; min-width: 35em; }
#mainContainer.wide { width: 90%; }
#masthead { margin: 1.5em 0; }
#masthead.smallLogo { margin: 0.5em 0; }
#masthead .logo { float: left; }
#masthead #masthead-tag { float : left; margin: 0.65em 0.25em 0 0; font-size: 2.5em; color: #d7e9f2; font-family: "Myriad Pro", verdana, sans-serif; text-transform: lowercase; }
#mainContent { min-height: 20em; border: 2px #537EA5 solid; font-size: 0.938em; }
body.forWebsites #mainContent { border-top: none; margin-top: 0; }
.content { background-color: #FFF; color: #222; padding: 1.3em; margin: .25em 0; }
.content a { color: #333; }
h1 { color: #2D3E4A; margin: 0 0 1em 0; font-size: 1.5em; }
h2 { color: #222; margin: .25em 0; font-size: 1.25em; font-family: "Gill Sans", "Gill Sans MT", sans-serif; }
h3 { margin: .25em 0; font-size: 1.10em; font-family: "Gill Sans", "Gill Sans MT", sans-serif; }
textarea { font-family: verdana, sans-serif; }
#footer { font-size: .7em; text-align: center; color: #BABABA; margin-bottom: 3em; }
#privacy-policy p, #terms-of-use p { line-height: 2; font-size: 0.933em; }
#terms-of-use ol.restrictions li { font-size: 0.933em; }
.skyscraperAd { width: 120px; height: 600px; }
#zippyChatDescription { width: 19em; float: right; padding: 1em; font-size: 0.933em; background-color: #EBEAD4; border: 2px #D3D2BC solid; }
#zippyChatDescription p { line-height: 1.5; text-indent: 2em; color: #000; }
#create-a-chat-room { font-size: 1.067em; float: left; }
#create-a-chat-room label { font-size: 1.063em; float: left; width: 15em; }
#create-a-chat-room .formRow { width: 33em; margin: 1em 0; }
#create-a-chat-room input.text, #create-a-chat-room input.password, #create-a-chat-room textarea { float: right; font-size: 1.091em; border: 1px #222 solid; width: 13em; }
#create-a-chat-room input.submit { margin-top: 1em; }
#create-a-chat-room .expand-opts-cont {  }
#create-a-chat-room .expand-additional-options { font-size: .8em; }
label .desc { font-size: 0.6em; color: #555; display: block; }
label .optional { font-size: 0.7em; color: #555; vertical-align: middle; }
input.pop { height: 35px; color: #222; background: url('/static/images/sprite.png'); font-size: 1em; font-weight: bold; padding: 0 1em; border: 1px #D9800B solid; border-bottom-color: #976522; border-right-color: #976522; cursor: pointer; border-radius: 0.25em; -webkit-border-radius: 0.25em; -moz-border-radius: 0.25em; text-shadow: 0.075em 0.075em 0.05em #DBC9A0; margin-left: -0.25em; }
input.pop:hover, input.pop.hover { background-position: 0 -40px; }
input.smallerPop { height: auto; font-size: .9em; }
input.utilPop { height: 25px; font-size: .9em; }
.optionButton { display: inline-block; color: #333; background: url('/static/images/sprite.png'); background-position: 0 -80px; font-size: 1em; padding: 0.25em 0.75em; border: 1px #888 solid; border-bottom-color: #666; border-bottom-color: #666; cursor: pointer; border-radius: 0.25em; -webkit-border-radius: 0.25em; -moz-border-radius: 0.25em; text-shadow: 0.075em 0.075em 0.05em #FFF; margin-left: -0.25em; }
.optionButton:hover, .optionButton.hover { color: #111; background-position: 0 -120px; }
.utilOptionButton { height: 25px; font-size: .9em; }
#room h1 { margin-bottom: 0.25em; }
#room #room-meta-data p { font-size: 0.7em; margin: 0.25em 0; }
#room #room-meta-data .room-desc { font-size: .9em; }
#room #room-meta-data .sharable-url { font-size: .7em; color:#666; }
#room #room-sidebar { float: left; }
#room #room-sidebar .ad { margin-bottom: 0.5em; }
#room .skyscraperAd { margin: 0 0.5em 0.5em 0; float: left; }
#room .nextToSkyscraperAd { margin-left: 130px; }
#chat-container { height: 450px; background-color: #F5F5F5; border: 1px #C5C5C5 solid; margin-top: 0.5em; min-width: 30em; }
#post-area { border: 1px #C5C5C5 solid; background-color: #F5F5F5; border-top: none; }
#message-post-cont { padding: 0.5em; }
#message-post-cont form { width: 90%; }
#chatroom .options { font-size: 0.8em; padding: 0.75em 0.3em; }
#chatroom .options .button { margin-right: 0.75em; float: left; }
#postMessage_text { width: 70%; height: 25px; border: 1px #888 solid; font-size: 0.8em; font-family: verdana, san-serif; }
#chat-sidebar { width: 10em; float: right; border-left: 1px #C5C5C5 solid; height: 100%; color: #444; overflow: auto; }
#chat-sidebar .usersCont { padding: 0.5em; }
#active-users { list-style: none; margin: 0; padding: 0; font-size: 0.85em; }
#messages { list-style: none; margin: 0; padding: 0; font-size: 0.85em; }
#messages li.unconfirmed { zoom: 1; filter: alpha(opacity=50); opacity: 0.5; }
#messages li.sysMessage { color: #555; }
#messages li .username { font-weight: bold; }
#message-area { height: 100%; overflow: auto; }
#message-area .messagesCont { padding: 0.5em; }
#postMessage_submit { vertical-align: top; height: 25px; font-size: .9em; margin-left: 0em; }
.changeUsernameDialog { background: #B7C3CA; border: 1px #444 solid; padding: 0.5em 1em; }
.changeUsernameDialog p { font-size: 0.8em; }
.changeUsernameDialog form div { text-align: center; margin: 1em 0; }
.changeUsernameDialog input.newUsername { border: 1px #888 solid; color: #555; font-size: 1.1em; width: 90%; margin-bottom: 0 auto; }
.changeUsernameDialog form .button, .changeUsernameDialog form .submit { font-size: .9em; height: 25px; margin-right: 0.5em; }
h4 { margin: 0.5em 0; }
.socialBox { margin: 1em 0.25em; padding: 0.5em; }
#FOR_WEBSITES h1 { text-transform: lowercase; font-weight: lighter; font-size: 2em; }
#FOR_WEBSITES h2 { font-size: 1.5em; font-weight: lighter; }
#for-websites-pitch { height: 350px; background: #313131 url('/static/images/brown_slice.png'); position: relative; margin-top: 2em; border-top: 5px #706057 solid; border-bottom: 1px #706057 solid; }
#for-websites-pitch h2 { text-align: center; margin-top: 2em; /*position: absolute; top: 2em; left: 2em; width: 15em;*/ font-size: 3em; color: #FFC122; font-family: 'Myriad Pro', verdana, sans-serif; font-weight: lighter; }
#for-websites-pitch h3 { text-align: center; margin-top: 1em; font-size: 2em; color: #CFCFCF; font-family: 'Myriad Pro', verdana, sans-serif; font-weight: lighter; }
#for-websites-accent { height: 80px; background: #313131 url('/static/images/brown_slice.png'); position: relative; margin-top: 2em; border-top: 5px #706057 solid; border-bottom: 1px #706057 solid; }
ul#for-websites-nav { list-style: none; margin: 0.5em; padding: 0; position: absolute; bottom: 1em; left: 1em; }
ul#for-websites-nav li { display: inline; margin-right: 2em; }
ul#for-websites-nav li a { text-decoration: none; font-weight: 200; color: #FFF; font-family: verdana, sans-serif; font-size: 1.3em; }
ul#for-websites-nav li a:hover { color: #b8dae1; }
#plans { margin: 0 auto; text-align: center; }
#plans .plan { width: 20em; text-align: center; margin: 0 1em; background: #f4f4f4; display: inline-block; border: 1px #cdcdcd solid; vertical-align: top; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
#plans .plan .planContent { padding: 0.5em; border-top: 1px #cdcdcd solid; }
#plans .plan .price { text-transform: uppercase; font-size: 4em; vertical-align: middle; margin: 0.1em 0; text-shadow: #FFF 2px 2px 2px; color: #15477f; }
#plans .plan .price .dollar-sign { font-size: 0.5em; vertical-align: super; }
#plans .plan .pricing-info { height: 5em; }
#plans .plan .pricing-explanation { color: #333; }
#plans .plan .yearly-price { color: #555; margin: 2em 0; font-size: 1.2em; height: 1em; }
#plans .plan .year-price { color: #15477f; }
#plans .plan .plan-info { width: 100%; }
#plans .plan .concurrent-users { font-weight: bold; color: #15477f; }
#plans .plan .plan-info ul.features { height: 6em; color: #444; text-align: left; }
#plans .plan .plan-info .submit { margin: 1em auto; padding: 0 3em; }
.plan h3 { font-family: 'Myriad Pro', verdana, sans-serif; margin: 1em 0; text-transform: uppercase; color: #15477f; }
#FOR_WEBSITES #side-column { width: 20em; float: right; }
#WEBSITES_SIDE_LOGIN table td { padding: 0.5em; }
#for-websites-faq { margin: 3em auto 1em auto; width: 70%; }
#for-websites-faq .question { margin: 4em; }
#for-websites-faq .question p { line-height: 1.5; color: #333; }
#for-websites-faq h3 { text-transform: uppercase; font-family: verdana; font-weight: lighter; border-bottom: 2px #aea59a solid; }
