.overlay { position: absolute; padding: 0; }
.horizontallyCentered { left: 50%; }
.boxShadow { -moz-box-shadow: 4px 4px 5px #C9CFD3; -webkit-box-shadow: 4px 4px 5px #C9CFD3; box-shadow: 4px 4px 5px #C9CFD3; /* For IE 8 */ -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#C9CFD3')"; /* For IE 5.5 - 7 */ filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#C9CFD3'); }
