<!DOCTYPE html>
<html>
    <head>
        <title>{{ t('zippy_chat') }} - {{ t('title_text') }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="/static/css/global.css" />
        <script type="text/javascript" src="/static/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="/static/scripts/global.js"></script>
    </head>
    <body>
        <div id="mainContainer"{% if widePage %} class="wide"{% endif %}>
            <div id="masthead"{% if smallLogo %} class="smallLogo"{% endif %}>
                <a href="/">
                    <img src="{% if smallLogo %}/static/images/smallLogo.png{% else %}/static/images/logo.png{% endif %}" alt="{{ t('zippy_chat') }}" border="0" />
                </a>
            </div>
            <div id="mainContent" class="content">
                {% block mainContent %}
                {% include DefaultView_innerTemplate %}
                {% endblock %}
            </div>
            <div id="footer">
                <div>
                    <a href="/about">{{ t('about') }}</a> &ndash; <a href="/terms-of-use">{{ t('terms_of_use') }}</a> &ndash; <a href="/privacy">{{ t('privacy_policy') }}</a>
                </div>
                <div>&copy; Zippy Chat 2010&ndash;{{ year|e }}</div>
            </div>
        </div>
    </body>
</html>
