{% extends "Default.html" %}
{% block afterMasthead %}
{% if full_promo %}
<div id="for-websites-pitch">
    <h2>Embed a chat room into your website</h2>
    <h3>Fast, reliable ajax-powered chat rooms</h3>
{% else %}
<div id="for-websites-accent">
{% endif %}
<ul id="for-websites-nav">
    <li><a href="/for-websites">overview</a></li>
    <li><a href="/for-websites/pricing">plans</a></li>
    <li><a href="/for-websites/api">api</a></li>
</ul>
</div>
{% endblock %}
{% block mainContent %}
<div id="FOR_WEBSITES">

    <h1>{{ t('For_Websites') }}</h1>

    <p>Connect your website's visitors through a Zippy Chat chat room.</p>

</div>
{% endblock %}
