{% extends "Default.html" %}
{% block mainContent %}
<div id="privacy-policy">
    <h1>{{ t('Privacy_Policy') }}</h1>
    <p>{{ t('By_using_this_website_and_Zippy_Cha') }}</p>

    <h2>{{ t('Chatroom_Information') }}</h2>
    <p>{{ t('Zippy_Chat_collects_information_fro') }}</p>

    <h2>{{ t('Other_Information') }}</h2>
    <p>{{ t('In_addition_to_the_information_coll') }}</p>

    <h2>{{ t('Advertising') }}</h2>
    <p>{{ t('Zippy_Chat_may_serve_advertisements') }}</p>

    <h2>{{ t('Legal_Authorities') }}</h2>
    <p>{{ t('If_were_contacted_by_police_or_othe') }}</p>

    <h2>{{ t('Children') }}</h2>
    <p>{{ t('Zippy_Chat_does_not_knowingly_colle') }}</p>

    <h2>{{ t('Disclaimer') }}</h2>
    <p>{{ t('This_privacy_policy_may_change_at_a')}}
</div>
{% endblock %}
