{% extends "Default.html" %}
{% block mainContent %}
<div id="room">
    <div id="room-meta-data">
        <h1>{{ room.getTitle()|e }}</h1>
        {% if room.getDescription() %}<p class="room-desc">{{ room.getDescription()|e }}</p>{% endif %}
        <div class="sharable-url">
            {{ t('Sharable_url') }}: 
            <span class="url">http://{{ site.getDomain()|e }}/room/{{ room.getRoomId() }}</span>
        </div>
    </div>
    <div id="chatroom">
        <div id="chat-container">
            <div id="chat-sidebar">
                <div class="usersCont">
                    <ul id="active-users" class="jsUninitialized">
                        {% for chatSession in chatSessions %}
                        <li>{{ chatSession.getUsername() }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div id="message-area">
                <div class="messagesCont">
                    <ul id="messages" class="jsUninitialized">
                        {% for message in messages %}
                        <li><span class="username">{{ message.getUsername() }}</span>: {{ message.getMessage() }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div id="post-area">
            <div id="message-post-cont">
                <form>
                    <textarea id="postMessage_text" name="postMessage_text" class="textarea"></textarea>
                    <input type="submit" class="submit pop" id="postMessage_submit" value="{{ t('Send') }}" />
                </form>
                <div class="options">
                    <span class="optionButton button">{{ t('Change_username') }}</span>
                    <span class="optionButton button">{{ t('Invite_others') }}</span>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
