{% extends "Default.html" %}
{% block mainContent %}
{% if fb_integration %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=158631674237245";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endif %}
<div id="room">
    <div id="room-meta-data">
        <h1>{{ room.getTitle()|e }}</h1>
        {% if room.getDescription() %}<p class="room-desc">{{ room.getDescription()|e }}</p>{% endif %}
        <div class="sharable-url">
            {{ t('Sharable_url') }}: 
            <span class="url">{{ sharable_url }}</span>
        </div>
        <input type="hidden" class="hidden roomId" id="roomId" value="{{ room.getRoomId() }}" />
    </div>
    <div id="room-area">
        <div id="room-sidebar" style="width: {{ room_adtype.getWidth() }}px;">
        {% if ad %}
            <div class="ad {{ room_adtype.getIdentifier() }}">
                {{ ad.getHtml() | raw }}
            </div>
            {% endif %}
        </div>
        <div class="chatRoomContainer"{% if room_adtype %} style="margin-left: {{ room_adoffset }}px;"{% endif %}>
            <div id="chatroom">
                <div id="chat-container">
                    <div id="chat-sidebar">
                        <div class="usersCont">
                            <ul id="active-users" class="jsUninitialized">
                            </ul>
                        </div>
                    </div>
                    <div id="message-area">
                        <div class="messagesCont">
                            <ul id="messages" class="jsUninitialized">
                                {% for message in messages %}
                                <li><span class="username">{{ message.getUsername() }}</span>: {{ message.getMessage() }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="post-area">
                    <div id="message-post-cont">
                        <form>
                            <textarea id="postMessage_text" name="postMessage_text" class="textarea"></textarea>
                            <input type="submit" class="submit pop" id="postMessage_submit" value="{{ t('Send') }}" />
                        </form>
                    </div>
                </div>
                <div class="options">
                    <span class="optionButton button inviteOthers">{{ t('Invite_others') }}</span>
                    <span class="optionButton button changeUsername">{{ t('Change_username') }}</span>
                    {% if fb_integration %}
                    <div class="fb-send" style="float: left; margin-right: 0.5em; margin-top: 0.15em;" data-href="{{ sharable_url }}" data-font="lucida grande"></div>
                    {% endif %}
                    {% if twitter_integration %}
                    <a href="https://twitter.com/share" class="twitter-share-button" data-text="Join my chat room" data-count="none">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> 
                    {% endif %}
                    <div class="clear"></div>
                </div>

            </div> {# /#chatroom #}
        </div>
        <div class="clear"></div>
    </div>
</div>
{% endblock %}
